<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Profile Test</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="profile.css">
    <style>
        body {
            background: rgb(99, 39, 120)
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

        .back:hover {
            color: #682773;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }

        .products {
            border: 2px solid black;
            height: 10rem;
            width: 50vw;
            margin-top: 2rem;
        }
    </style>
</head>

<body class='snippet-body'>

    <!doctype html>
    <html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>

    <body>
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
    </body>

    </html>

    <body class='snippet-body'>


        <!doctype html>
        <html lang="en">

        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
                crossorigin="anonymous">

        </head>

        <body>

            <!-- Optional JavaScript; choose one of the two! -->

            <!-- Option 1: Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
                crossorigin="anonymous"></script>

            <!-- Option 2: Separate Popper and Bootstrap JS -->
            <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
        </body>

        </html>

        <!-- www.getbootstrap/docs end of started body-->

        <nav class="navbar navbar-dark bg-primary sticky-top">
            <div class="container">
                <div class="me-4">
                    <img src="" alt="Logo">
                    <a class="navbar-brand" href="#">PRABANDH</a>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
                <div class="color">

                    <a href="">
                        <i class="fas fa-bell me-4 width"></i>
                    </a>

                    <a href="#" class="text-decoration-none me-4">Cart</a>
                    <a href="#feedback" class="text-decoration-none">Login</a>
                </div>
            </div>
        </nav>



        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="MY_PIC.jpg">
                        <span class="font-weight-bold">Yadav Anandkumar</span>
                        <span class="text-black-50">ay10091999@gmail.com</span>
                        <span> </span>
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right"><a href="#profile" target="_self"> Profile </a></h4>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right"><a href="#booking"> Bookings </a></h4>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right"><a href="#rented"> Rented Products </a></h4>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-5 border-right">
                    </div>
                </div>
                <div class="col-md">
                    <div class="p-3 py-5">
                        <!-- Booking Section -->
                        <div id="booking">
                            <div class="d-flex justify-content-between align-items-center experience">
                                <span>
                                    <h3>Your Bookings</h3>
                                </span>
                            </div>
                            <br>

                            <div class="products"></div>
                        </div>
                       
                        <!-- Rented Section -->
                        <div id="rented">
                            <div class="d-flex justify-content-between align-items-center experience">
                                <span>
                                    <h3>Rented Products</h3>
                                </span>
                            </div>
                            <br>

                            <div class="products"></div>
                        </div>

                        <!-- Profile Section -->
                        <div id="profile">
                            <!doctype html>
                            <html>

                            <head>
                                <link
                                    href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css'
                                    rel='stylesheet'>
                                <script type='text/javascript'
                                    src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                                <style>
                                    body {
                                        background: rgb(99, 39, 120)
                                    }

                                    .form-control:focus {
                                        box-shadow: none;
                                        border-color: #BA68C8
                                    }

                                    .profile-button {
                                        background: rgb(99, 39, 120);
                                        box-shadow: none;
                                        border: none
                                    }

                                    .profile-button:hover {
                                        background: #682773
                                    }

                                    .profile-button:focus {
                                        background: #682773;
                                        box-shadow: none
                                    }

                                    .profile-button:active {
                                        background: #682773;
                                        box-shadow: none
                                    }

                                    .back:hover {
                                        color: #682773;
                                        cursor: pointer
                                    }

                                    .labels {
                                        font-size: 11px
                                    }

                                    .add-experience:hover {
                                        background: #BA68C8;
                                        color: #fff;
                                        cursor: pointer;
                                        border: solid 1px #BA68C8
                                    }
                                </style>
                            </head>

                            <body class='snippet-body'>

                                <body class='snippet-body'>
                                    <div class="container rounded bg-white mt-5 mb-5">
                                        <div class="p-3 py-5">
                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                <h4 class="text-right">Profile</h4>
                                            </div>
                                            <form action="">
                                                <div class="row mt-2">
                                                    <div class="col-md-6"><label class="labels-1">Name <span
                                                                class="required">*</span> </label><input type="text"
                                                            class="form-control" placeholder="first name" value=""
                                                            required></div>
                                                    <div class="col-md-6"><label class="labels-1">Surname <span
                                                                class="required">*</span></label><input type="text"
                                                            class="form-control" value="" placeholder="surname"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-12"><label class="labels-1">Mobile Number <span
                                                                class="required">*</span></label>
                                                        <input type="text" class="form-control"
                                                            placeholder="enter phone number" value="" required>
                                                    </div>

                                                        <div class="col-md-12"><label class="labels-1">Email ID</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="enter email id" value="">
                                                        </div>

                                                    <div class="row mt-3">
                                                        <div class="col-md-12"><label class="labels-1">Address<span
                                                                    class="required">*</span></label>
                                                            <input type="text" class="form-control"
                                                                placeholder="enter your current address" value="">
                                                        </div>
                                                        <div class="col-md">
                                                            <div class="col-md-8">
                                                                <label for="inputCity" class="form-label labels-1">City</label>
                                                                <input type="text" class="form-control" id="inputCity">
                                                            </div>

                                                            <div class="col-md-8">
                                                              <label for="inputPIN" class="form-label labels-1">Pin Code<span
                                                                class="required">*</span></label>
                                                              <input type="number" class="form-control" id="inputPIN" required>
                                                            </div>
                                                          </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group col-md-4">
                                                                    <!-- https://codepen.io/david-arun/pen/LrqmoY?editors=1000 -->
                                                                    <label for="inputState" class="labels-1">State</label>
                                                                    <select class="form-control" id="inputState" style="width: 295px;">
                                                                        <option value="SelectState">Select State
                                                                        </option>
                                                                        <option value="Andra Pradesh">Andra Pradesh
                                                                        </option>
                                                                        <option value="Arunachal Pradesh">Arunachal
                                                                            Pradesh
                                                                        </option>
                                                                        <option value="Assam">Assam</option>
                                                                        <option value="Bihar">Bihar</option>
                                                                        <option value="Chhattisgarh">Chhattisgarh
                                                                        </option>
                                                                        <option value="Goa">Goa</option>
                                                                        <option value="Gujarat">Gujarat</option>
                                                                        <option value="Haryana">Haryana</option>
                                                                        <option value="Himachal Pradesh">Himachal
                                                                            Pradesh
                                                                        </option>
                                                                        <option value="Jammu and Kashmir">Jammu and
                                                                            Kashmir
                                                                        </option>
                                                                        <option value="Jharkhand">Jharkhand</option>
                                                                        <option value="Karnataka">Karnataka</option>
                                                                        <option value="Kerala">Kerala</option>
                                                                        <option value="Madya Pradesh">Madya Pradesh
                                                                        </option>
                                                                        <option value="Maharashtra">Maharashtra</option>
                                                                        <option value="Manipur">Manipur</option>
                                                                        <option value="Meghalaya">Meghalaya</option>
                                                                        <option value="Mizoram">Mizoram</option>
                                                                        <option value="Nagaland">Nagaland</option>
                                                                        <option value="Orissa">Orissa</option>
                                                                        <option value="Punjab">Punjab</option>
                                                                        <option value="Rajasthan">Rajasthan</option>
                                                                        <option value="Sikkim">Sikkim</option>
                                                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                                                        <option value="Telangana">Telangana</option>
                                                                        <option value="Tripura">Tripura</option>
                                                                        <option value="Uttaranchal">Uttaranchal</option>
                                                                        <option value="Uttar Pradesh">Uttar Pradesh
                                                                        </option>
                                                                        <option value="West Bengal">West Bengal</option>
                                                                        <option disabled
                                                                            style="background-color:#aaa; color:#fff">
                                                                            UNION
                                                                            Territories</option>
                                                                        <option value="Andaman and Nicobar Islands">
                                                                            Andaman and
                                                                            Nicobar Islands</option>
                                                                        <option value="Chandigarh">Chandigarh</option>
                                                                        <option value="Dadar and Nagar Haveli">Dadar and
                                                                            Nagar
                                                                            Haveli</option>
                                                                        <option value="Daman and Diu">Daman and Diu
                                                                        </option>
                                                                        <option value="Delhi">Delhi</option>
                                                                        <option value="Lakshadeep">Lakshadeep</option>
                                                                        <option value="Pondicherry">Pondicherry</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-5 text-center">
                                                        <button type="submit"
                                                            class="btn btn-primary profile-button">Save Profile</button>

                                                    </div>
                                            </form>
                                        </div>
                                        <div>

                                            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                                crossorigin="anonymous"></script>
                                            <script
                                                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                                                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                                                crossorigin="anonymous"></script>
                                            <script
                                                src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                                                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                                                crossorigin="anonymous"></script>

                                            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                                crossorigin="anonymous"></script>
                                            <script
                                                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                                                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                                                crossorigin="anonymous"></script>
                                            <script
                                                src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                                                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                                                crossorigin="anonymous"></script>
                                        </div>

                                    </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <script type='text/javascript'
            src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
        <script type='text/javascript'></script>
    </body>

</html>
</div>
</div>
</div>
</div>
</div>
</div>
<script type='text/javascript'
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript'></script>
<script src="state_dist.js"></script>
</body>

</html>