{% extends 'User/basic.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Rent/css/basic_manual.css' %}?{% now "U" %}">
<style>
  .height{
  height:300px;
  }
</style>

{% endblock %}

{% block content %}
  <!-- carousal Starts here -->
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="{% static 'Rent/images/jumbotron_1200.jpg' %}" class="d-block w-100 height" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'Rent/images/jumbotron_1200.jpg' %}" class="d-block w-100 height" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'Rent/images/jumbotron_1200.jpg' %}" class="d-block w-100 height" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- carousal Ends here  -->


  <!-- Second Navbar Starts Here -->
  
      <!-- horizontal carousal -->
      
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#">Product1</a>
                    
                    <a class="navbar-brand" href="#">Product2</a>
                    
                    <a class="navbar-brand" href="#">Product3</a>
                    
                    <a class="navbar-brand" href="#">Product4</a>
                    
                    <a class="navbar-brand" href="#">Product5</a>
                    
                    <a class="navbar-brand" href="#">Product6</a>
                  </div>
                </nav>                
              </div>

              <div class="carousel-item">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Product7</a>
        
                  <a class="navbar-brand" href="#">Product8</a>
        
                  <a class="navbar-brand" href="#">Product9</a>
        
                  <a class="navbar-brand" href="#">Product10</a>
        
                  <a class="navbar-brand" href="#">Product11</a>
        
                  <a class="navbar-brand" href="#">Product12</a>
                </div>
                </nav>
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>  

        <!-- horizontal carousal ends here -->
  <!-- Second Navbar Ends Here -->

    <!-- Register Part -->
    <div class="section container">

      <div class="carousel-inner mx-5">
        <div class="seller">
          <img src="{% static 'Rent/images/event_plan.jfif' %}" class="seller-width" alt="...">
          <div class="card-seller d-md-block">
            <h5> Coming Soon</h5>
            <p>Plan your Special Moment</p>
            <button type="submit" class="btn btn-warning" ><a href="event/1/1">Plan Event</a></button>
          </div>
        </div>
      </div>
  
      <div class="carousel-inner">
        <div class="seller">
          <img src="{% static 'Rent/images/seller.png' %}" class="seller-width" alt="...">
          <div class="card-seller d-md-block">
            <h5>Contact Us</h5>
            <p>Here we are available for 24*7 </p>
            <form action="#contacts">
            <button type="submit" class="btn btn-outline-primary">Contact</button>
          </div>
        </div>
      </div>
    </div>
      
      
  <!-- Cards Starts here -->
<!--  <div class="container">-->
<!--  <div class="card-group">-->
<!--    {% for i in product %}-->
<!--    <div class="card" >-->
<!--      <img src="{{i.product_name.all}}" class="card-img-top" alt="...">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">{{i.title}}-->
<!--        </h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--          content.</p>-->
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    {% endfor %}-->

<!--  </div>-->
<!--  </div>-->


  <section id="contacts">

    <div class="row row-large align-center" id="row-1432787271">
      <div id="col-1538136024" class="col medium-2 small-12 large-2">
        <div class="col-inner">
          <div id="text-1712333857" class="text">
            <p><strong>Mail us<br /></strong>
              <a
                href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJTGnLBKzQgQjwdQHfHRJjrpQgSmDdsDwLnnMgPpGMLdBFNzCsZNmSqnzNGDnvZCQhCdCJq" target="_blank">
                rohit123@gamil.com</a>
            </p>
            <style>
              #text-1712333857 {
                text-align: center;
              }
            </style>
          </div>
        </div>
      </div>



      <div id="col-2122993556" class="col medium-2 small-12 large-2">
        <div class="col-inner">
          <div id="text-3540112701" class="text">
            <p><strong>Visit us<br /></strong>
            K-001.Maruti Mahadev Nagar,<br>BLDG No.6, Near Parag Bungalow,<br>Sunil Nagar,Dombivli(EAST)<br>Thane Maharashtra 421201</p>
            <style>
              #text-3540112701 {
                text-align: center;
              }
            </style>
          </div>
        </div>
      </div>



      <div id="col-910846341" class="col medium-4 small-12 large-3">
        <div class="col-inner">
          <div id="text-1826064971" class="text">
            <p><strong>Contact us<br /></strong>Tel: <a href="tel:004724119020">+91 9137772979</a><br />Email: <a
                href="mailto:info@appeartv.com">rohit123@jrk.com </a><br />Org numberNO : 986942033</p>
            <style>
              #text-1826064971 {
                text-align: center;
              }
            </style>
          </div>
      </div>
    </div>
  </section>

  <!-- Footer part -->
  <footer class="fusion-footer-widget-area fusion-widget-area">
    <div class="text-center" id="copyright">
      Copyright &copy;www.Prabhandh.com All Rights Reserved
    </div>
  </footer>
{% endblock %}