<!-- {% for p in Product %}
<div class="imgb">
    <img src="{{ p.photo.url }}">
</div>
{% endfor %} -->
<!-- <div class="col-5 left"> -->
    <div class="col-12 k">
        <!-- <h1>{{ pro.image_of_product.url }}</h1> -->
        <div class="imgb">
            <img src="{{ pro.image_of_product.url }}">
        </div>
        {% for p in Product %}
        <!-- <div class="outerimg"> -->
            <div class="imgb">
                <img src="{{ p.photo.url }}">
                <div class="over">
                    <div class="vertical-center">
                        <button class="btn btn-danger delete" data-val="{{ p.id }}">Delete</button>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        {% endfor %}
    </div>
<!-- </div> -->