{% extends 'User/basic.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Rent/css/ProdViewCust.css' %}?{% now "U" %}">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

{% endblock %}
{% block title%}
    {{Product.product_name}}
{%endblock%}
{% block content %}
<div class="container-fluid">
    <br>
    <div class="row">
        <h2>{{ pro.title }}</h2>
        <br>
        <br>
        <br>
        <div class="col-sm-5 left1">
            <div class="col-12 left">
                {% include 'Rent/loop.html' %}
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 right col-xs-12">
            <div class="row">
                <div class="col-12">
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <h3>{{ pro.title }}</h3>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-5">
                            <h5>Description</h5>
                        </div>
                        <div class="col-7">
                            <div class="aboutblock">
                                <h5>{{ pro.about }}</h5>
                            </div>
                            <br>
                            <form method="POST" class="photoform" enctype="multipart/form-data">
                                {% csrf_token %}
                                <br>
                                <div class="row">
                                    <div class="col-sm">
                                        <a href="/cartadd/{{pro.id}}" class="btn btn-danger file" data-val="{{ pro.id }}" type="submit">Add to Cart</a>
                                    </div>  
                                    <div class="col-sm product">
                                        <button class="btn btn-danger">Rent</button>             
                                    </div>           
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(".over").addClass("d-none");
</script>
{% endblock %}