{% extends 'Rent/Weddings.html' %}
{% load static %}
{% block css %}
<style>
body{
background-color:blue;
}
.card{
margin-top:10px;
}
</style>
{% endblock css %}
{% block content %}
    <main>
        <center>
        {% for i in product %}
            <div class="card mb-3 border-bottom" style="max-width: 540px;">
              <div class="row g-0 border-bottom">

                <div class="col-md-12 col-sm-8">
                    <div class="card-body">
                      <h5 class="card-title">{{i.title}}</h5>
                                Dear {{request.user}},<br>
                                We hope that this product has been delivered to your address safely,if not you can raise an issue else
                                click on i am satisfied

                    </div>
                  <a href="/update/{{i.id}}" class="btn btn-primary" style="margin-right:10px;">Yes I am satisfied</a>
                  <a href="/issue/{{i.id}}" class="btn btn-danger">Raise an issue</a>
                </div>
              </div>
            </div>
     {% endfor %}
        {% for i in products %}
            <div class="card mb-3 border-bottom" style="max-width: 540px;">
              <div class="row g-0 border-bottom">

                <div class="col-md-12 col-sm-8">
                    <div class="card-body">
                      <h5 class="card-title">{{i.title}}</h5>
                                Dear {{request.user}},<br>Thank you for choosing us hope you had an amazing experience.
                                Can u just take a moment to rate amazing experience you had with product.
                    </div>
                  <a href="/update/{{i.id}}" class="btn btn-primary" style="margin-right:10px;">Rate</a>
                </div>
              </div>
            </div>
     {% endfor %}
        {% for i in products1 %}
            <div class="card mb-3 border-bottom" style="max-width: 540px;">
              <div class="row g-0 border-bottom">

                <div class="col-md-12 col-sm-8">
                    <div class="card-body">
                        <h3 style="color:Red;">Alert!!!</h3>
                      <h5 class="card-title">{{i.title}}</h5>
                        Dear {{request.user}},<br>Kindly note that this product is scheduled for return tommorow.

                    </div>
                </div>
              </div>
            </div>
     {% endfor %}
            <!-- {% csrf_token %} -->
            </center>
    </main>
{% endblock %}
{% block js %}




  
</script>


{% endblock js %}




<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    
  </head>
  <body>
    <section>
      <div class="product">
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
          <h3>Stubborn Attachments</h3>
          <h5>$20.00</h5>
        </div>
      </div>
      
    </section>
  </body>
</html> -->