{% extends 'Rent/Weddings.html' %}
{% load static %}
{% block css %}

{% endblock css %}
{% block content %}
    <main>
        {% for i in product %}
            <div class="card mb-3 border-bottom" style="max-width: 540px;">
              <div class="row g-0 border-bottom">

                <div class="col-md-12 col-sm-8">
                    <div class="card-body">
                      <h5 class="card-title">{{i.title}}</h5>
                            
                            <p class="card-text">
                              {{i.about}}<BR>Rent Price: {{i.rental_price}}</BR>
                              Deposit:{{i.deposit}}
                                <br>
                                We hope that the product has been delivered to your address safely,if not you can raise an issue else
                                click on i am satisfied
                            </p>
                    </div>
                  <a href="/update/{{i.id}}" class="btn btn-primary" style="margin-right:10px;">Yes I am satisfied</a>
                  <a href="/issue/{{i.id}}" class="btn btn-danger">Raise an issue</a>
                </div>
              </div>
            </div>
     {% endfor %}
            <!-- {% csrf_token %} -->
    </main>
{% endblock %}
{% block js %}




  
</script>


{% endblock js %}




<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    
  </head>
  <body>
    <section>
      <div class="product">
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
          <h3>Stubborn Attachments</h3>
          <h5>$20.00</h5>
        </div>
      </div>
      
    </section>
  </body>
</html> -->