{% extends 'User/basic.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Rent/css/basic_manual1.css' %}?{% now "U" %}">

    <link rel="stylesheet" href="{% static 'Rent/css/base.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">


    <!-- Bootstrap core CSS -->
    <link href="{% static 'Rent/css/r.css' %}" rel="stylesheet">
    <style>
        ::-webkit-scrollbar {
            width: 5px;
            background: transparent;
        }
        .scrollable{
            background-color: cyan;
            height: -webkit-fill-available;
            overflow-x: hidden;
            overflow-y: scroll;
            height: auto;
            box-sizing: content-box;
            padding-left: 20px;
            padding-right: 20px;
        }
        #carousel2{
            border-radius: 20px;
        }
        .container1 {
            width: 200px;
            margin: 5px;
            font-size: 1.1rem;
            border-radius: 10px;
        }
        .container1 li a {
            text-decoration: none;
        }

        .container1 li {
            margin: 10px;
        }

        .collapse li a {
            font-size: 1.1rem;
            color: rgb(106, 103, 103);
            margin-left: 30px;
        }

        .container2 li a{
            margin-left: 50px;
            font-size: 1.2rem;
        }
        .container4{
            width: 230px;
            background-color: rgb(251, 239, 97);
            border-radius: 5px;
            height: 1000px;
        }
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
        .height{
            height:300px;
        }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      span{
        padding: 4px;
        margin-left: 10px;
        margin-right: 10px;
      }
      span a{
        padding: 4px;
        margin-left: 30px;
        margin-right: 50px;
      }
      span:nth-child(6){
        margin-left: 0px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'Rent/css/sidebars.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="carousel2">
                  <div class="container-fluid">
                    <span> <a class="navbar-brand" id="1" href="/event/1">Wedding Session</a> </span>

                    <span> <a class="navbar-brand" id="2" href="/event/2">Birthday</a> </span>

                    <span> <a class="navbar-brand" id="3" href="/event/3">Pooja</a> </span>

                    <span> <a class="navbar-brand" href="#">Product4</a> </span>

                    <span> <a class="navbar-brand" href="#">Product5</a> </span>

                    <span> <a class="navbar-brand" href="#">Product6</a> </span>
                  </div>
                </nav>
              </div>


          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>

    <main>
    <h1 class="visually-hidden">Sidebars examples</h1>

    <div class="container4 p-3">
        {% for k,v in test.items %}
            <div class="container1">
              <ul class="list-unstyled ps-0">
                <li class="mb-1">
                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                          data-bs-target="#home-collapse{{k}}" aria-expanded="true">
                    {{k}}
                  </button>
                  <div class="collapse" id="home-collapse{{k}}">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                       {% for v1 in v %}
                            <li><a href="/subcategory/{{my_id}}/{{v1}}" id="qv{{v1}}" class="link-dark rounded">{{v1}}</a></li>
                       {% endfor %}
                    </ul>
                  </div>
                </li>
                <li class="border-top my-3"></li>
              </ul>
            </div>
        {% endfor %}
    </div>

     <div class="b-example-divider"></div>

     <div class="scrollable">
         <br>
         {% for i in product %}
            <div class="card mb-3 border-bottom" style="max-width: 1340px;">
              <div class="row g-0 border-bottom">
                <div class="col-md-3 col-sm-4">
                  <img src='/media/{{i.image_of_product}}' class="img-fluid me-2" alt="...">
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'Prod_view' i.id %}">{{i.title}}</a></h5>
                          <div id="ca">
                              {{i.score}}
                          </div>

                            
                            <p class="card-text">
                              {{i.about}}<BR>Rent Price: {{i.rental_price}}</BR>
                              Deposit:{{i.deposit}}
                            </p>
                    </div>
                  <a href="/cartadd/{{i.id}}" class="btn btn-primary" style="margin-right:10px;">Add to Cart</a>
                  <a href="#" class="btn btn-primary">Rent</a>
                </div>
              </div>
            </div>
     {% endfor %}
     </div>
  </main>

{% endblock %}
{% block js %}
     <script src="{% static 'Rent/css/sidebars.js' %}"></script>

    <script src="{% static 'Rent/css/r.js' %}"></script>

    <script src="{% static 'Rent/css/calculate.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script type="text/javascript">
        $(document).on('click','div span', function(){
        $(this).addClass('active')
    })

    </script>
{% endblock js %}