{% extends 'User/basic.html' %}
{% load static %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <style>
        .container1 {
            border: 2px solid rgb(212, 194, 194);
            width: 200px;
            margin: 5px;
            font-size: 1.1rem;
        }

        .btn {
            font-size: 1.05rem;
            color: rgb(20, 20, 20);
            font-weight: bold;
        }

        .container1 li a {
            text-decoration: none;
        }

        .container1 li {
            margin: 10px;
        }

        .collapse li a {
            font-size: 1.1rem;
            color: rgb(156, 150, 150);
            margin-left: 30px;
        }

        .container2 li a{
            margin-left: 50px;
            font-size: 1.2rem;
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/wedding/1">Wedding Session</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wedding/2">Birthday</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wedding/3">Pooja</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
            <div class="container1">
                {% for k,v in test.items %}
                <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#forms-collapse{{k}}" aria-expanded="false">
                            <span class="caret">{{k}}</span>                       
                </button>
                <br>
                <div class="collapse" id="forms-collapse{{k}}">
                    <ul class="list-unstyled fw-normal pb-1 small">
                        {% for v1 in v %}
                        <li><a href="/subcategory/{{v1}}" class="d-inline-flex align-items-center rounded" id="qv{{v1}}">{{v1}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
             {% endfor %}
    </div>
{% for i in product %}
     <div class="card mb-3 border-bottom" style="max-width: 540px;">
  <div class="row g-0 border-bottom">
    <div class="col-md-3 col-sm-4">
      <img src='/media/{{i.image_of_product}}' class="img-fluid me-2" alt="...">
    </div>
<div class="col-md-9 col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <div id="ca">{{i.score}}</div>
        <span class="fa fa-star checked" id="first"></span>
        <span class="fa fa-star checked" id="second"></span>
        <span class="fa fa-star checked" id="third"></span>
        <span class="fa fa-star" id="fourth"></span>
        <span class="fa fa-star" id="fifth"></span>
        <script src="{% static 'Saarthi/dashboard1.js' %}">
       handlestar();
        </script>
        <p class="card-text">{{i.about}}<BR>Rent Price: {{i.rental_price}}</BR>
       Deposit:{{i.deposit}}
        </p>

      <div></div> <a href="#" class="btn btn-primary" style="margin-right:10px;">Add to Cart</a><a href="#" class="btn btn-primary">Rent</a></div>
      </div>
            </div>
  </div>
       {% endfor %}
{% endblock %}
{% block js %}
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
{% endblock js %}