* {
  padding: 0;
  margin: 0;
}

/* .navbar{
    margin-left: -185px !important;
} */

.logo_image {
  width: 100px;
  height: 40px;
}

.d-flex {
  width: 600px;
}

.color a {
  color: #f0f0f0;
}

.color a:hover {
  color: #e43a3a;
}

.carousel-control-prev,
.carousel-control-next {
  top: auto;
  bottom: auto;
  width: 2% !important;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: #3e3e49;
}

.carousel-indicators .active {
  background-color: rgb(158, 17, 41);
}

.product1 {
  display: flex;
  flex-direction: row;
}
