.imgb {
  background-color: #999;
  width: inherit;
  height: inherit;
  display: inline-block;
  /* overflow: hidden; */
}
.imgb img {
  width: inherit !important;
  height: inherit !important;
}
.left {
  background-color: red;
  padding-bottom: 30px;
  transition: 0.5s ease-in;
}
.info {
  text-align: center;
}
.imgb {
  position: relative;
}
.over {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  padding: 20px;
  text-align: center;
  margin: auto;
}
.imgb:hover .over {
  opacity: 1;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
